<section class="gallery">
  <div class="container">
    <h2 class="title visually-hidden">Gallery</h2>
    <div class="gallery-list">
      <div class="gallery-column-1 gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-1.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-1.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-1.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-1.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-1.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-1.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-1.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-1.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-1.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-1.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-1.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-1.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-1.jpg"
            alt="green ice cream"
            class="gallery-item"
          />
        </picture>
      </div>

      <div class="gallery-column-2 gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-2.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-2.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-2.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-2.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-2.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-2.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-2.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-2.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-2.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-2.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-2.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-2.jpg"
            alt="pink scoop of ice cream"
            class="gallery-item"
          />
        </picture>

        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  .images/gallery/desktop/gallery-3.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-3.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-3.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-3.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-3.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-3.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-3.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-3.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-3.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-3.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-3.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-3.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-3.jpg"
            alt="popsicles"
            class="gallery-item"
          />
        </picture>
      </div>

      <div class="gallery-item-big gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-4.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-4.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-4.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-4.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-4.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-4.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-4.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-4.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-4.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-4.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-4.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-4.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-4.jpg"
            alt="lollipops"
            class="gallery-item"
          />
        </picture>

        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-5.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-5.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-5.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-5.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-5.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-5.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-5.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-5.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-5.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-5.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-5.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-5.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-5.jpg"
            alt="happy client"
            class="gallery-item gallery-pic-small"
          />
        </picture>
      </div>

      <div class="gallery-column-4 gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-6.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-6.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-6.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-6.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-6.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-6.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-6.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-6.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-6.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-6.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-6.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-6.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-6.jpg"
            alt="ice cream dessert"
            class="gallery-item"
          />
        </picture>

        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-7.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-7.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-7.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-7.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-7.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-7.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-7.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-7.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-7.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-7.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-7.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-7.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-7.jpg"
            alt="pink lollipop"
            class="gallery-item"
          />
        </picture>
      </div>

      <div class="gallery-column-5 gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-8.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-8.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-8.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-8.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-8.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-8.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-8.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-8.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-8.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-8.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-8.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-8.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-8.jpg"
            alt="happy dog"
            class="gallery-item"
          />
        </picture>

        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-9.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-9.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-9.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-9.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-9.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-9.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-9.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-9.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-9.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-9.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-9.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-9.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-9.jpg"
            alt="milkshake"
            class="gallery-item"
          />
        </picture>
      </div>

      <div class="gallery-column-6 gallery-column">
        <picture class="gallery-picture">
          <!-- <source
                srcset="
                  ./images/gallery/desktop/gallery-10.webp      1x,
                  ./images/gallery/desktop@2x/gallery2x-10.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/desktop/gallery-10.jpg      1x,
              ./images/gallery/desktop@2x/gallery2x-10.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/tablet/gallery-10.webp      1x,
                  ./images/gallery/tablet@2x/gallery2x-10.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/tablet/gallery-10.jpg      1x,
              ./images/gallery/tablet@2x/gallery2x-10.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- <source
                srcset="
                  ./images/gallery/mobile/gallery-10.webp      1x,
                  ./images/gallery/mobile@2x/gallery2x-10.webp 2x
                "
                type="image/webp"
              /> -->
          <source
            srcset="
              ./images/gallery/mobile/gallery-10.jpg      1x,
              ./images/gallery/mobile@2x/gallery2x-10.jpg 2x
            "
          />

          <img
            src="./images/gallery/desktop/gallery-10.jpg"
            alt="tasty dessert"
            class="gallery-item"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
