<!-- Mobile-menu -->

<div class="mobile-menu" data-menu>
  <button class="close-button" type="button" data-menu-close>
    <svg class="mobile-menu-close-icon">
      <use href="./images/icons/symbol-defs-sprite.svg#icon-close"></use>
    </svg>
  </button>

  <button class="mobile-menu-button" type="button" data-modal-open4>
    Buy now
    <svg class="mobile-menu-vector-icon">
      <use href="./images/icons/symbol-defs-sprite.svg#icon-arrow-icn"></use>
    </svg>
  </button>
  <ul class="mobile-menu-nav">
    <li class="mobile-menu-nav-item mobile-menu-first-item">
      <a class="mobile-menu-nav-link" href="index.html">Home</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a class="mobile-menu-nav-link" href="#about-us" data-li1>About us</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a class="mobile-menu-nav-link" href="#made" data-li2>How it's made?</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a class="mobile-menu-nav-link" href="#products" data-li3>Our products</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a class="mobile-menu-nav-link" href="#contacts" data-li4>Contacts</a>
    </li>
  </ul>
</div>

